.gradient-custom {
  /* fallback for old browsers */
  background: rgb(59, 134, 255);


  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-linear-gradient(to right bottom, rgba(59, 134, 255, 1), rgba(56, 217, 150, 0.557));

  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: linear-gradient(to right bottom, rgba(59, 134, 255, 1), rgba(56, 217, 150, 0.557))
}


