.table-container{
  width: 100%;
  max-width: 900px;
  margin: auto;
  .title{
    color:#374151;
    font-weight: 16px;
    font-weight: bold;
    margin: 0;
  }
}
table{
  width: 100%;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}
