@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
}

footer{
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: rgb(1, 1, 35);
    height: 108px;
    width: 100%;
    color: #fff;
    border-top-right-radius: 140px;
}

.logo{
    width: 125px;
    height: 30px;
    float: left;
    margin-right: -250px;
}

.socials{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.socials li{
    margin: 0 10px;
}

.socials a{
    text-decoration: none;
    color: #fff;
    padding: 5px;

}

.socials a i{
    font-size: 1.5rem;
    width: 40px;
    transition: color .4s ease;
}

.socials a:hover i{
    color: rgb(30, 210, 210);
}

.iconText{
    display: inline-block;
}

a {
    margin: 1em;
    display: inline-block;
  }
  a i {
    vertical-align: middle;
    margin-right: 10px;
  }
  a.flex {
    display: inline-flex;
  }

  @media(max-width:991px){
    .iconText{
        display: none;
    }
  }
