<app-title [title]="!isEditing ? 'Realizar Envio':'Editar Transaccion'"></app-title>


<ng-container *ngIf="!isEditing">
  <app-accounts></app-accounts>
</ng-container>
<div class="to">
  Para:
  <div class="img-holder">
    <mat-icon fontIcon="person" class="icon"></mat-icon>
  </div>
  <p class="name">{{userData.first_name +' '+ userData.last_name}}</p>
</div>
<app-form [editing]="isEditing" (formData)="checkForm($event)"></app-form>
<div class="buttons">
    <button (click)="sendMoney()" mat-raised-button color="primary" [disabled]="!formValid">{{!isEditing ? 'Enviar':'Acutalizar'}}</button>
    <button mat-raised-button color="error" routerLink="/home/send-founds">Cancelar</button>
</div>

<ng-container *ngIf="isLoadingUser">
  <div class="loader">
    <app-loader></app-loader>
  </div>
</ng-container>

