<div class="container-fluid">
  <p class="text-center">Registrarse</p>
  <form [formGroup]="registerForm">
    <div class="form-field">
      <mat-form-field appearance="outline">
        <mat-label>Nombre</mat-label>
        <input matInput formControlName="name" [(ngModel)]="user.first_name">
        <mat-icon matPrefix>person</mat-icon>
      </mat-form-field>
    </div>
    <div class="form-field">
      <mat-form-field appearance="outline">
        <mat-label>Apellido</mat-label>
        <input matInput formControlName="lastname" [(ngModel)]="user.last_name">
        <mat-icon matPrefix>person</mat-icon>
      </mat-form-field>
    </div>
    <div class="form-field">
      <mat-form-field appearance="outline">
        <mat-label>Email</mat-label>
        <input matInput required formControlName="email" [(ngModel)]="user.email">
        <mat-icon matPrefix>email</mat-icon>
        <mat-error *ngIf="registerForm.controls['email'].invalid">El Email es obligatorio.</mat-error>
        <mat-error *ngIf="registerForm.controls['email'].hasError('pattern')">Por favor, ingrese un email válido.</mat-error>
      </mat-form-field>
    </div>
    <div class="form-field">
      <mat-form-field appearance="outline">
        <mat-label>Contraseña</mat-label>
        <input matInput required formControlName="password" [(ngModel)]="user.password" type="password">
        <mat-icon matPrefix>lock</mat-icon>
        <mat-error *ngIf="registerForm.controls['password'].invalid && !registerForm.controls['password'].hasError('minlength')" >La contraseña es obligatoria.</mat-error>
        <mat-error *ngIf="registerForm.controls['password'].hasError('minlength')">La contraseña es obligatoria.</mat-error>
      </mat-form-field>
    </div>
    <div class="form-field">
      <mat-form-field appearance="outline">
        <mat-label>Repetir Contraseña</mat-label>
        <input matInput formControlName="repeatPassword" type="password">
        <mat-icon matPrefix>lock</mat-icon>
        <!-- <mat-error *ngIf="registerForm.controls['repeatPassword'].invalid">Repita su contraseña por favor.</mat-error> -->
        <mat-error *ngIf="registerForm.hasError('not_matching')">Las contraseñas no coinciden.</mat-error>
        <mat-hint style="font-size: 12px;">*Requerido</mat-hint>
      </mat-form-field>
    </div>
    <mat-checkbox formControlName="check">Acepto los <a (click)="openDialog()">Terminos y Condiciones</a></mat-checkbox>
    <br>
    <br>
    <div class="form-field">
      <button mat-raised-button color="primary" type="button" (click)="onSignUp()" [disabled]="!registerForm.valid">Registrarse</button>
    </div>
  </form>
  <br>
  <div style="justify-content: center; display: flex;">
    Ya tengo cuenta. <a href="">Iniciar Sesión.</a>
  </div>
</div>
