@import "node_modules/@fortawesome/fontawesome-free/scss/fontawesome.scss";


.form-field {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

mat-form-field {
  width: 100%;
}


